html, body {
    overflow:hidden;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

body {
    background-color: black;
}

#renderCanvas {
    width:100%;
    height:100%;
    touch-action:none;
    z-index: 0;
}

#mediaDiv {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    z-index: -1;
}

#mediaDiv video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#mediaDiv img {
    width: 100vw;
    height: 100vh;
}